# 영화 기반 영화추천(라이브러리 사용 X)

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from scipy.sparse import csr_matrix
import helper

In [2]:
# Import the Movies dataset
movies = pd.read_csv('movies.csv')
movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9120,162672,Mohenjo Daro (2016),Adventure|Drama|Romance
9121,163056,Shin Godzilla (2016),Action|Adventure|Fantasy|Sci-Fi
9122,163949,The Beatles: Eight Days a Week - The Touring Y...,Documentary
9123,164977,The Gay Desperado (1936),Comedy
9124,164979,"Women of '69, Unboxed",Documentary

In [3]:
#To Count the number of movies in each genres
def count_word(df, ref_col, liste):
    keyword_count = dict()
    for s in liste: keyword_count[s] = 0
    for liste_keywords in df[ref_col].str.split('|'):
        if type(liste_keywords) == float and pd.isnull(liste_keywords): continue
        for s in liste_keywords: 
            if pd.notnull(s): keyword_count[s] += 1
    # convert the dictionary in a list to sort the keywords  by frequency
    keyword_occurences = []
    for k,v in keyword_count.items():
        keyword_occurences.append([k,v])
    keyword_occurences.sort(key = lambda x:x[1], reverse = True)
    return keyword_occurences, keyword_count

In [4]:
genre_labels = set()
for s in movies['genres'].str.split('|').values:
    genre_labels = genre_labels.union(set(s))

In [6]:
#counting how many times each of genres occur:
keyword_occurences, dum = count_word(movies, 'genres', genre_labels)
# keyword_occurences

In [7]:
# Convert Genres in row to Columns
# New Column is created for every genre

movies_genre = movies

for (key,cnt) in keyword_occurences:
    movies_genre.loc[movies_genre['genres'].str.contains(key), key] = 1
    movies_genre[key] = movies_genre[key].fillna(0)

# movies_genre.head()

c:\program files\python36\lib\site-packages\pandas\core\strings.py:1843: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

In [8]:
movies_genre = movies_genre.drop(columns=['genres'])

In [ ]:
movies_genre

In [9]:
def get_movie(movies):
    movies_genre_indexing = pd.DataFrame()
    genre_ratings = pd.concat([movies_genre_indexing, movies['movieId'], movies['title']], axis=1)
    return movies_genre_indexing

In [11]:
movies_genre_1k = pd.DataFrame(movies_genre, columns = list(genre_labels))

In [12]:
movies_genre_1k = movies_genre_1k[:1000]

In [13]:
movies_genre_1k

,Romance,Musical,Sci-Fi,Western,(no genres listed),Fantasy,Mystery,Documentary,Horror,Children,Animation,Comedy,Thriller,Film-Noir,IMAX,War,Drama,Adventure,Action,Crime
0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
998,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0

In [14]:
class kmeans:
    def __init__(self, k , input):
        self.k = k
        self.df = input
        self.C =None

    # K개의 중심값을 임의로 선택한다

    def centroids(self):
        import random
        C = {
        i+1:[data for data in self.df.values[i]]
        for i, j in zip(range(self.k), random.sample(range(len(self.df)),self.k))}
        return C

    # 각 중심에서 데이터까지의 거리를 계산 using up.linalg.norm
    # 각 데이터에 가장 가까운 중심점(군집)을 할당
        
    def classify(self,C):
        import copy
        cluster_df = copy.deepcopy(self.df)
        col_n = cluster_df.shape[1]
        for i in C.keys():
            cluster_df["Distance_from_{}".format(i)]\
            =np.linalg.norm(np.array(cluster_df)[:,:col_n]-C[i], axis=1)

        dist_cols=["Distance_from_{}".format(i)  for i in C.keys()]
        cluster_df["Closet_Cluster"] = cluster_df.loc[:,dist_cols].idxmin(axis=1).map(lambda x:int(x.lstrip("Distance_from")))
        return cluster_df

    #각 중심점에 선택된 데이터 포인터들의 평균위치로 중심점을 재이동
    def update(self, C):
        c_df = self.classify(C)
        self.C ={
        i:[c for c in np.mean(self.df[c_df["Closet_Cluster"]==i], axis=0)]
        for i in c_df["Closet_Cluster"].unique()}
        return self.C

    # 위 과정을 '갱신된 중심점이 거의 변화가 없어 할당된 군집이 바뀌지 않을만큼 반복

    def train_cluster(self):
        assignments = None
        C = self.centroids()
        while True:
            # 중심점에 해당하는 군집 찾기
            cluster_df = self.classify(C)
            new_assignments = list(self.classify(C)["Closet_Cluster"])
            # 새로운 중심점 찾기
            new_C = self.update(C)
            # 할당된 군집이 바뀌지 않을만큼 중심점이 수렴했다면 종료
            if assignments == new_assignments:
                break
            # 아니라면 다시 중심점과 군집 찾기
            assignments = new_assignments
            C = new_C

        return new_C, list(new_assignments), cluster_df


# 클러스터링 !!!!!!!!!!!!!

In [17]:
predictions = kmeans(10, movies_genre_1k.fillna(0))

In [18]:
cluster = predictions.train_cluster()

In [19]:
predictions_1 = np.array(cluster[2]['Closet_Cluster'])

In [20]:
m_idx = 0
clustered_movie = {}
for idx in range(len(predictions_1)):
    c_movie = []
    for i in range(len(predictions_1)):
        if idx == i:
            continue
        if predictions_1[idx] == predictions_1[i]:
            c_movie.append(i)
    clustered_movie[idx] = c_movie

# print("clustered_user : ", clustered_user.keys())
print("clustered_movie : ", clustered_movie[0])

clustered_movie :  [12, 46, 98, 211, 216, 279, 328, 494, 500, 521, 526, 527, 528, 543, 552, 567, 576, 600, 622, 647, 712, 740, 826, 827, 828, 829, 833, 834, 836, 837, 861, 916, 979]

# 실습

### (1) title 받아옴(params)

In [21]:
title = "Toy Story (1995)"

### (2) title의 idx 찾기

In [22]:
iidx = -1
for i in range(len(movies_genre)):
    if movies_genre['title'][i] == title:
        iidx = i
        break

### (3) 받아온 영화와 비슷한 영화 가져오기 (movie_list)

In [23]:
movie_list = []

In [24]:
for i in clustered_movie[iidx]:
    movie_list.append(movies_genre['title'][i])
#     print(i, `movies_genre['title'][i])
#     print()

In [25]:
movie_list

['Balto (1995)',
 'Pocahontas (1995)',
 'Muppet Treasure Island (1996)',
 'Goofy Movie, A (1995)',
 'Gumby: The Movie (1995)',
 'Swan Princess, The (1994)',
 'Lion King, The (1994)',
 'Nightmare Before Christmas, The (1993)',
 'Pagemaster, The (1994)',
 'Aladdin (1992)',
 'Snow White and the Seven Dwarfs (1937)',
 'Beauty and the Beast (1991)',
 'Pinocchio (1940)',
 'Aristocats, The (1970)',
 'All Dogs Go to Heaven 2 (1996)',
 'James and the Giant Peach (1996)',
 'Space Jam (1996)',
 'Oliver & Company (1988)',
 'Wallace & Gromit: A Close Shave (1995)',
 'Hunchback of Notre Dame, The (1996)',
 'Land Before Time III: The Time of the Great Giving (1995)',
 'Wizard of Oz, The (1939)',
 'Cinderella (1950)',
 'Winnie the Pooh and the Blustery Day (1968)',
 'Three Caballeros, The (1945)',
 'Sword in the Stone, The (1963)',
 'Dumbo (1941)',
 "Pete's Dragon (1977)",
 'Alice in Wonderland (1951)',
 'Fox and the Hound, The (1981)',
 'Aladdin and the King of Thieves (1996)',
 'Wallace & Gromit: The Wrong Trousers (1993)',
 'Grand Day Out with Wallace and Gromit, A (1989)']

## 끝!!!!!!!!!!!!!!!!!!!!!!!